<html xmlns="http://www.w3.org/1999/xhtml" ng-app="GroupProject">
<head>
    <title>What's Happening Now!</title>
    <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/lib/angular-material-datetimepicker/css/material-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/lib/angular-material/modules/js/icon/icon.css" rel="stylesheet" />
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
    @*<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-icon-192x192.png">*@
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body ng-controller="AccountController as account" ng-cloak>
    <div class="flex-col">
        @*flex-col ai-c*@
    @*<h1>WHN</h1>*@
    <div class="flex-row width100">
        <div class="width30 bgnd-darkpurple"></div>
        <div class="width40 place high topBar bgnd-darkpurple f-jc-c whiteBorder">
            <a ui-sref="home">Home</a>
            <a ui-sref="eventSearch">Find Events</a>
            <a ui-sref="groups">Find Groups</a>
            <a ui-sref="login" ng-show="!account.isLoggedIn()">Login</a>
            <a ui-sref="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
        </div>
        <div class="width30 bgnd-darkpurple font16 topBar place f-jc-fe whiteBorderLogin">
            <div class="ai-c">{{account.getUserName()}}</div>
            <ng-md-icon icon="account_box" style="fill:gray" size="40" class="ai-c"></ng-md-icon>
        </div>
    </div>
    @*<div class="flex-row f-jc-c ai-c place high width100 topBar bgnd-darkpurple">
            <a ui-sref="home">Home</a>
            <a ui-sref="groups">Find Groups</a>
            <a ui-sref="eventSearch">Find Events</a>


            <a ui-sref="login" ng-show="!account.isLoggedIn()">Login</a>
            <a ui-sref="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
            </div>
            <div class="flex-row f-jc-c ai-c font12 width100 topBar bgnd-darkpurple" ng-show="account.isLoggedIn()">

                    Welcome, {{account.getUserName()}} <a ui-sref="myaccount">(My Account)</a>
        </div>*@
    <ui-view class="light-white"></ui-view>
</div>


<!-- Library Files -->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/angular/angular.js"></script>
<script src="~/lib/angular-resource/angular-resource.js"></script>
<script src="~/lib/angular-animate/angular-animate.js"></script>
<script src="~/lib/angular-touch/angular-touch.js"></script>

<script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="~/lib/angular-aria/angular-aria.js"></script>
<script src="~/lib/angular-material/angular-material.js"></script>
<script src="~/lib/momentjs/moment.js"></script>
<script type="text/javascript" src="~/lib/angular-material-datetimepicker/beautifier.js"></script>

<script type="text/javascript" src="~/lib/angular-material-datetimepicker/js/demo.js"></script>

<script type="text/javascript" src="~/lib/angular-material-datetimepicker/js/angular-material-datetimepicker.js"></script>
<script type="text/javascript" src="~/lib/angular-messages/angular-messages.js"></script>
<script type="text/javascript" src="~/lib/angular-material-icons/angular-material-icons.js"></script>
<script type="text/javascript" src="~/lib/angular-material/modules/js/core/core.js"></script>

<!-- App Files-->
<script src="~/ngapp/app.js"></script>
<script src="~/ngapp/controllers/controllers.js"></script>
<script src="~/ngapp/services/services.js"></script>


<!-- Security -->
<script src="~/ngapp/controllers/accountcontroller.js"></script>
<script src="~/ngapp/services/accountservice.js"></script>

</body>
</html>
